.detailPage {
  padding: 0 80px;
}
.detailNav {
  position: fixed;
  top: 50px;
  left: 80px;
  bottom: 0;
  width: 300px;
  padding-top: 80px;
  list-style: none;
  background-color: #ededed;

  > li {

    > a {
      padding: 5px 20px;
      color: black;
      display: block;
    }
  }
}

.right-part  {
  background-color: white;
  height: 100vh;
  margin-left: 300px;
  padding-left: 80px;
}
.content-title {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
}
.content-partition {
  width: 80%;
  color: #f2f2f2;
  margin: 20px;
}
.content-description {
  width: 75%;
  padding-left: 60px;
}
.button-group {
  padding-left:25%;
  &>button {
    font-size: 1.2rem;
    width: 200px;
    height: 80px;
    line-height: 80px;
  }

}
.button-delete {
  background-color: #ffaa9b;
  margin-right: 30px;
}
.button-back {
  color: black;
}
a {
  display: block;
}
