.home {
  min-height: 100vh;
  background-color: white;
}
header {
  height: 50px;
  background-color: cornflowerblue;
  color: white;
  text-align: center;
  font-size: 2.4rem;
}
p {
  line-height: 50px;
}
.navIcon {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.homeUl {
  margin: 30px 40px;
  width: 80%;
}
.homeUl > li {
  height: 280px;
  line-height: 280px;
  width: 20%;
  border: 2px solid black;
  margin: 40px 30px;
  float: left;
  list-style: none;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  vertical-align: center;
}
.homeUl > li:nth-child(odd) {
  background-color: #ffaa9b;
}
.homeUl > li:nth-child(even) {
  background-color: #fff180;
}
a{
  text-decoration: none;
  color: white;
}
