
hr {
  width: 53%;
  margin-left:380px;
  margin-top:20px;
  margin-bottom:50px;
}
.create-note-title {
  margin-top:20px;
  text-align: center;
  font-size: 30px;
}
form {
  width: 50%;
  margin-left:380px;

}
input,textarea {
  width: 100%;
  margin: 30px;
  display: inline-block;
}
input {
  height: 40px;
}
.button-group {
  padding-left:25%;
  &>button {
    font-size: 1.2rem;
    width: 200px;
    height: 80px;
    line-height: 80px;
  }

}
.button-delete {
  background-color: #ffaa9b;
  margin-right: 30px;
}
.button-back {
  color: black;
}
